#useDynLib(bertin)

#import("TSP")
#imports("gclus") 

export(
    plot.bertin,
    image.bertin,
    bertinrect,
    imagem,
    bertinrank,
    bertinzscore,
    bertinrangescore,
    bertin.order,
    parasp,
    whatis,
    colramp,
    RGBinterpolate,
    imageBG
    )

S3method(plot, bertin)
S3method(image, bertin)

